# Ersetzen Sie bitte die Beispielwerte in Zeile 4 und 5 durch Ihren 
# persönlichen Fragebogenschlüssel 
#
# ARDA05D - Maintainer Aufgabe 1
# RTFR30V - Developer Aufgabe 1
# -----------------------------------------------------------------
# ARDA05D - Maintainer Aufgabe 2
# RTFR30V - Developer Aufgabe 2
# -----------------------------------------------------------------
